<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Converter</title>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
  .container .row {
    margin-top: 5em;
  }

  .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


</style>
</head>
<body>
  
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <input placeholder="Link" class="input form-control"/>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
     <button class="btn btn-primary">Convert</button> 
    </div>
  </div>
  <div id="test">
    <h4>Test Link: http://web.mta.info/developers/data/nyct/fares/fares_170506.csv</h4>
    <hr />
    <h4>
      This page will take in the MTA CSV (Comma Seperated Value) file and convert it into a JSON file. 
      Because CSV files are harder to understand, converting it to a JSON file makes it easier to read and retrieve data.
      <br />
      <br />
      --The file is very large so it may take a while to convert it--
    </h4>


  </div>
</div>
<div id="loading" style="display:none;">
    Loading Please Wait....
    <img src="ajax-loader.gif" alt="Loading" />
</div>

<script>

$('.btn').click(function(){
  var csv = $('.input').val();
  
  if(csv === ""){
    alert("URL is required!");
    return;
  } else {
  
    $.post('/', { file: csv }, (results) => {
      //alert('text');
      if(results.status){
        window.location.href="/Get";
      } 
    });
    
  }
});  

$("#loading").ajaxStart(function () {
    $(this).show();
 });

 $("#loading").ajaxStop(function () {
   $(this).hide();
 });
</script>
</body>
</html>